@import 'base';

canvas{
   width: 1350px;
   height: 690px;
   position: relative;
   display: inline;
   
}

html{
	height: 100%;
	width: 100%;
}

body{
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: black;
	border: 16px yellow solid;
}
